body {
    background-color: #F8F2FE;
    overflow-x: hidden;
}

.MuiTableCell-root  {
    padding: 10px 14px !important;
  }
  
.sweet-warning{
    background-color: #2F49D1;
}
.p-autocomplete-dropdown {
  background: gray;
  border: none;
}

body input:enabled:focus{
    box-shadow: unset !important;
    border-color: unset !important;
  }

input:focus {
    outline: none;
}